.arrow {
	@apply p-2;
	&::after {
		@apply bg-gray-50;
		position: absolute;
		top: 8px;
		left: -4px;
		display: block;
		content: "";
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
	}
}

.arrow-reverse {
	@apply mr-2;
	&::before {
		@apply bg-card;
		position: absolute;
		top: 8px;
		right: -4px;
		display: block;
		content: "";
		width: 8px;
		height: 8px;
		transform: rotate(45deg);
	}
}

.arrow-primary {
	@apply bg-primary;
	&::before {
		@apply bg-primary;
	}
}

.details-marker::before {
  content: "▶︎";
  display: inline-block;
  margin-right: 0.5ch;
  flex-shrink: 0;
  transition: 0.3s;
}

details[open] > summary .details-marker::before {
  transform: rotate(90deg);
  transform-origin: 40% 45% 0;
}

summary {
  display: flex;
  align-items: start;
  outline: none;
  list-style: none;
  user-select: none;
  cursor: pointer;
}

summary > h1, summary > h2, summary > h3, summary > h4, summary > h5, summary > h6 {
  display: inline-block;
  margin: 0;
}

details > *:not(summary) {
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin-left: 1.25rem;
}